<style>
  .footer {
    color: #000;
  }
  .footer a {
    color: #1565c0;
    text-decoration: underline;
  }
  body.colorscheme-dark .footer {
    color: #dadada !important;
  }
  body.colorscheme-dark .footer a {
    color: #448aff !important;
  }
</style>
<footer class="footer" style="text-align:center; font-size: 11px;">
    <div>
        <p>&copy; {{ now.Year }} Mark Cooper - <a
                href="mailto:mdcooper.mc@gmail.com?subject=Please%20send%20me%20a%20copy%20of%20your%20CV">Request a
            CV</a></p>
    </div>
</footer>
